body{
    margin:0;
}
.container {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    width: 100%;
}
.square{
    margin: 0;
    width: 6.25vw;
    height: 6.25vw;
    background-color: blue;
    padding:0px;
}
.hovering{
    background-color: bisque;
}